body {
    background-image: url(../images/BG.png);
}
.inline-block {
    width: 100%;
    background-color: #002d5c;
    display: inline-block;
}
.navmenu {
    display: inline-block;
    margin: 5px;
    color: white;
    margin-left: 200px;
    margin-right: 55px;
    text-align: right;
    font-family: 'Righteous', cursive;
}
.CTA {
    background-color: #006ba6;
    text-align: center;
    height: 80px;
    width: 825px;
    margin-left: 550px;
    border-radius: 10px;
}
h1 {
    color: #F9C22E;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Righteous', cursive;
}
.form {
    text-align: center;
    padding: 80px;
}
input [type=text], select, textarea {
    width: 25%;
    padding: 20px;
    border: 1px solid #002d5c;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
.leftside {
    padding: 10px;
}
#fname, #lname, #email, #phonen {
    padding: 10px;
    margin: 20px;
}
.submit {
    margin-top: 5px;
    border-radius: 9px;
    width: 310px;
    height: 60px;
    font-family: 'Righteous', cursive;
    background-color: #006ba6;
    color: white;
    font-size: 30px;
}
footer {
    background-color: #006ba6;
}
.align-right {
    text-align: right;
    margin-right: 20px;
}
p2 {
    font-family: 'Righteous', cursive;
}
p3 {
    font-family: 'Righteous', cursive;
}
.Contact {
    font-family: 'Righteous', cursive;
    background-color: red;
}